{% extends "master.html" %}

{% block subtitle %} - 创建我的新  App{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <!-- nav begin -->
            <div class="span3">{% include "/consoles/left.html" %}</div>
            <!-- nav end -->

            <div class="span9">
                <!-- content begin -->
                <h3 class="form-signin-heading">创建我的新 App</h3>
                <hr />
                <div>
                    <form class="" action="{{url_for('bpConsoles.view',action='saveNewApp')}}" method="post">        
                        <div class="control-group">
                            <label class="control-label" for="appName">App 名称</label>
                            <div class="controls"><input type="text" id="appName" name="appName" placeholder="App 名称" class="input-xxlarge"></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="appDesc">App 描述</label>
                            <div class="controls"><textarea id="appDesc" name="appDesc" rows="10" class="input-xxlarge"></textarea></div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button class="btn btn-primary" type="submit">提交</button>
                                <a class="btn" type="cancel" href="{{url_for('bpConsoles.view')}}">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- content end -->
        
            </div>
        </div>
    </div>
{% endblock %}