<p><a class="btn btn-large btn-success" href="{{url_for('bpConsoles.view',action='createApp')}}">创建我的 App</a></p>
<ul class="nav nav-list well">
    <li class="nav-header">我的资料
        <ul>
            <li><a href="{{url_for('.view',action='updateProfile')}}">修改个人资料</a></li>
            <li><a href="{{url_for('.view',action='updatePassword')}}">更改密码</a></li> 
        </ul>
    </li>
    <li class="divider"></li>
    <li class="nav-header">我的 App 列表
        <ul class="nav nav-list">
            {% for (appid,appname) in session['apps'] %}
                {% if appid == session['current_app_id'] %}
                    <li class="active"><a href="{{url_for('.view',action='updateApp',id=appid)}}">{{appname}}</a></li>
                {% else %}
                    <li><a href="{{url_for('.view',action='updateApp',id=appid)}}">{{appname}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
</ul>