{% extends "master.html" %}

{% block subtitle %} - 我的文章列表{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <!-- nav begin -->
            <div class="span3">{% include "/consoles/left.html" %}</div>
            <!-- nav end -->

            <div class="span9">
                <!-- content begin -->                
                <div class="row-fluid">
                    <div class="span10">
                        <h3>我的 App : {{app}}</h3>
                    </div>
                    <div class="span2">
                        <a class="btn  btn-primary" href="{{url_for('.view',action='createArticle',appid=app.id)}}">添加新文章</a>
                    </div>
                </div>
                <hr />
                <div>
                    <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>文章名称</th>
                            <th>创建日期</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in records.items %}
                            <tr>
                                <td>{{a}}</td>
                                <td>{{a.create_time|ft}}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-mini" href="{{url_for('.view',action='updateArticle',id=a.id)}}">编辑</a>
                                        <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="-1" href="#">向上</a></li>
                                            <li><a tabindex="-1" href="#">向下</a></li>
                                            <li><a tabindex="-1" href="{{url_for('.view',action='delArticle',id=a.id)}}">删除</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                        {{mymacros.mypaginate(records)}}
                </div>
                <!-- content end -->
        
            </div>
        </div>
    </div>
{% endblock %}