{% extends "master.html" %}

{% block subtitle %} - 修改基本信息{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <!-- nav begin -->
            <div class="span3">{% include "/consoles/left.html" %}</div>
            <!-- nav end -->

            <div class="span9">

                <!-- content begin -->
                <div class="row-fluid">
                    <div class="span7">
                        <h3 class="form-signin-heading">修改基本信息</h3>
                    </div>
                </div>
                <hr />
                <div>
                    <form class="" action="{{url_for('bpConsoles.view',action='saveProfile')}}" method="post">
                        <div class="control-group">
                            <label class="control-label" for="email">邮箱地址</label>
                            <div class="controls"><input type="text" id="email" name="email" placeholder="邮箱地址" value="{{user.email}}" disabled="disabled" class="input-xxlarge"></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="mobile">移动电话</label>
                            <div class="controls"><input type="text" id="mobile" name="mobile" placeholder="移动电话" value="{{user.mobile|f}}" class="input-xxlarge"></div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                            <button class="btn btn-primary" type="submit">提交</button>
                            <a class="btn" type="cancel" href="{{url_for('bpConsoles.view')}}">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- content end -->
        
            </div>
        </div>
    </div>
{% endblock %}