{% extends "master.html" %}

{% block subtitle %} - 更新 App 信息{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <!-- nav begin -->
            <div class="span3">{% include "/consoles/left.html" %}</div>
            <!-- nav end -->

            <div class="span9">
                <!-- content begin -->
                <div class="row-fluid">
                    <div class="span7">
                        <h3 class="form-signin-heading">更新 App 信息</h3>
                    </div>
                    <div class="span5">
                        <a class="btn  btn-primary" href="{{url_for('.view',action='listArticle',appid=app.id)}}">管理该 App 的文章列表</a>
                        <a class="btn  btn-danger" href="{{url_for('.view',action='delApp',id=app.id)}}">删除该 App</a>
                    </div>
                </div>
                <hr />
                <div>
                    <form class="" action="{{url_for('bpConsoles.view',action='saveApp')}}" method="post">
                        <input type="hidden" name="id" value="{{app.id}}">                 
                        <div class="control-group">
                            <label class="control-label" for="appName">App 名称</label>
                            <div class="controls"><input type="text" id="appName" name="appName" placeholder="App 名称" value="{{app.name}}" disabled="disabled" class="input-xxlarge"></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="appDesc">App 描述</label>
                            <div class="controls"><textarea id="appDesc" name="appDesc" rows="10" class="input-xxlarge">{{app.desc}}</textarea></div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                            <button class="btn btn-primary" type="submit">提交</button>
                            <a class="btn" type="cancel" href="{{url_for('bpConsoles.view')}}">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- content end -->
        
            </div>
        </div>
    </div>
{% endblock %}