{% extends "master.html" %}

{% block subtitle %} - 更改密码{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <!-- nav begin -->
            <div class="span3">{% include "/consoles/left.html" %}</div>
            <!-- nav end -->

            <div class="span9">
                <!-- content begin -->
                <div class="row-fluid">
                    <div class="span7">
                        <h3 class="form-signin-heading">更改密码</h3>
                    </div>
                </div>
                <hr />
                <div>
                    <form class="" action="{{url_for('bpConsoles.view',action='savePassword')}}" method="post">
                        <div class="control-group">
                            <label class="control-label" for="oldpassword">旧密码</label>
                            <div class="controls"><input type="password" id="oldpassword" name="oldpassword" class="input-xxlarge"></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="newpassword">新密码</label>
                            <div class="controls"><input type="password" id="newpassword" name="newpassword" class="input-xxlarge"></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="newconfirmpassword">确认新密码</label>
                            <div class="controls"><input type="password" id="newconfirmpassword" name="newconfirmpassword" class="input-xxlarge"></div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                            <button class="btn btn-primary" type="submit">提交</button>
                            <a class="btn" type="cancel" href="{{url_for('bpConsoles.view')}}">取消</a>
                            </div>
                        </div>
                    </form>
                    
                </div>
                <!-- content end -->
        
            </div>
        </div>
    </div>
{% endblock %}