<!DOCTYPE html>
<html lang="zh_CN"> 
<head>
	<meta charset="utf-8">
	{% block keyword %}
		<meta content="" name="Keywords" /> 
	{% endblock %}
	
	{% import 'macros.html' as mymacros %}
	
	<title>{% block title %}Uncle App{% endblock %}{% block subtitle %}{% endblock %}</title>
	<link rel="icon" type="image/ico" href="{{url_for('static', filename='favicon.ico')}}"/> 
	<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
	<style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
	{% block extCSS %}{% endblock %}
	
		
	<script src="{{url_for('static', filename='js/jquery-1.8.3.min.js')}}" type="text/javascript"></script>
	<script src="{{url_for('static', filename='js/bootstrap.min.js')}}" type="text/javascript"></script>	
	{% block extJS %}{% endblock %}
</head>

<body>
    {% block container %}
	   <!-- header begin -->
    	{% block header %}
    	    <div class="span3">{% include "header.html" %}</div>
    	{% endblock %} 
    	<!-- header end -->
        
        <!-- succ/alert/error message begin -->
        {% block  msg %}
           <!-- Message Content Here -->
           {{mymacros.showmsg()}}
        {% endblock %}
        <!-- succ/alert/error message end -->    	
    	
	    <!-- main begin -->
    	{% block  main %}
    	   <!-- Main Content Here -->
    	{% endblock %}
	    <!-- main end -->
    	
	    <!-- footer begin -->
    	{% block footer %}
    	   <div class="container"><footer class="pull-right"><p>&copy; Company 2012</p></footer></div>
    	{% endblock %}
	    <!-- footer end -->
    	
    {% endblock %}
</body>
</html>